
<div class="vtool_bar">
  <div>
  <button id="circle" value="circle" (click)="createCircle();disableButtons();closeSaveForm();closeLoadForm()"> <img src= "assets/icons/circle-icon.png" width = 45px length = 45px /></button>
  </div>
  <div>
    <button id="rect" value="rect" (click)="createRect();disableButtons();closeSaveForm();closeLoadForm()"><img src= "assets/icons/rectangle-icon.png" width = 45px length = 45px /></button>
  </div>
  <div>
    <button id="square" value="square" (click)="createSquare();disableButtons();closeSaveForm();closeLoadForm()"><img src= "assets/icons/square-icon.png" width = 45px length = 45px /></button>
  </div>
  <div>
    <button id="triangle" value="triangle" (click)="createTriangle();disableButtons();closeSaveForm();closeLoadForm()"> <img src= "assets/icons/triangle-icon.png" width = 45px length = 45px /> </button>
  </div>
  <div>
    <button id="ellipse" value="ellipse" (click)="createEllipse();disableButtons();closeSaveForm;closeLoadForm()"> <img src= "assets/icons/ellipse-icon.png" width = 45px length = 45px /> </button>
  </div>
  <div>
    <button id="line" value="line" (click) = "createLine();disableButtons();closeSaveForm();closeLoadForm()"> <img src= "assets/icons/line-icon.png" width = 45px length = 45px /> </button>
  </div>
  <div>
    <button id="move" value="move" (click)="move();disableButtons();closeSaveForm();closeLoadForm()"> <img src= "assets/icons/move-icon.png" width = 37px length = 37px /> </button>
  </div>
  <div>
    <button type="button" id="clear" value="clear" (click)="clearAll();closeSaveForm();closeLoadForm()" > <img src= "assets/icons/eraser-icon.png" width = 35px length = 35px /> </button>
  </div>
</div>







<canvas id="board" width="1355" height="600" style="border:3px solid #f09623"></canvas>



<div class="form-popup" id="loadForm">
  <div class="form-container">
    <label for="path"><b>File Path</b></label>
    <input type="text" id="loadHere" placeholder="Enter the file path of desired load file" name="path" required>
    <button type="submit" class="btn" (click)="sendPathLoad() ;">Enter</button>
    <button type="submit" class="btn" (click)="closeLoadForm();" >Cancel</button>
  </div>
</div>

<div class="form-popup" id="saveForm">
  <div class="form-container">
    <label for="path"><b>File Name (".json" or ".xml"):</b></label>
    <input type="text" id="saveHere1" placeholder="Enter the name of saved file" name="path" value="savedFile.json">
    <label for="path"><b>File Full Path:</b></label>
    <input type="text" id="saveHere2" placeholder="Enter file location" name="path" required>
    <button type="submit" class="btn" (click)="sendPathSave() ;" >Enter</button>
    <button type="submit" class="btn" (click)="closeSaveForm();" >Cancel</button>
  </div>
</div>
